<% include ./partials/header %>
<hr>
<h1 id="login_heading">Log into your Food Jar</h1>
<hr>
<form id="login_form" action="/login" method="POST" align=center>
    <input type="text" name="username" placeholder="username">
    <input type="password" name="password" placeholder="password">
    <button>Login</button>
</form>
<br>
<br>
<% include ./partials/footer %>